{% load static %}
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/stijl.css' %}">
        <title></title>
    </head>

    <body>
        <div class="header"><h1>Mijn website</h1></div>
        <div class="kolom"></div>
        <div class="kolom">
            {% block content %}
            {% for post in posts %}
                <article class="post">
                    <time class="date">
                    {{ post.published_date }}
                    </time>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="kolom"></div>
        <div class="footer">&#169; Django-template ~ created4web</div>
        </body>
</html>